body{
    padding-left: 170px;
    padding-right: 170px;
    font-family: 'Open Sans', sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
}

h1, label{
    font-family: 'Open Sans Condensed', sans-serif;
}

h4{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px;
    background-color: #FFDFD3;
}

fieldset{
    display: flex;
    justify-content: center;
    
    border: 0ch;
}

.start{
    padding-right: 100px;
}

textarea{
    height: 80px;
    resize: both;
    overflow: auto;
}

#click{
    width: 170px;
    text-align: center;
}

#description{
    display: flex;
    align-items: baseline;
}

div{
    display: flex;
    flex-direction: column;
    background-color: #FEC8D8;
    overflow: visible;
    border: solid black 1px;
}

#amount:invalid {
    border: red solid 3px;
}